/** @format */

.products {
  height: 80vh;

  margin: auto;
  li {
    list-style: none;
  }
  &__links {
    color: blue;
    margin-top: 3rem;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1rem;
    width: 24rem;
    display: flex;
    font-size: 1.2rem;
   
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  h1 {
    margin-bottom: 4rem;
  }

  h4 {
    margin-bottom: 6rem;
  }
}
